<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-assertive ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar id="menu-header" class="pensando bar-assertive">
            <div class="menu-header-menu-container">
                <h5 class="col col-bottom">Pensando o Direito</h5>
            </div>
        </ion-header-bar>
        <ion-content id="menu-content">
            <ion-list>
                <ion-item ui-sref-active="active" class="item item-icon-left" menu-close ui-sref="app.publicacoes">
                    <i class="icon ion-document-text"></i> Publicações
                </ion-item>
                <!--<ion-item ui-sref-active="active" class="item item-icon-left" menu-close ui-sref="app.debates">-->
                    <!--<i class="icon ion-android-chat"></i> Debates-->
                <!--</ion-item>-->
                <!--<ion-item ui-sref-active="active" class="item item-icon-left" menu-close ui-sref="app.eventos">-->
                    <!--<i class="icon ion-calendar"></i> Eventos-->
                <!--</ion-item>-->
                <!--<ion-item ui-sref-active="active" class="item item-icon-left" menu-close ui-sref="app.noticias">-->
                    <!--<i class="icon ion-android-list"></i> Notícias-->
                <!--</ion-item>-->
            </ion-list>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-dark">
            <div class="button-bar-inline">
                <button menu-close class="button" ui-sref="app.sobre">
                    <i class="icon ion-ios-information-outline"></i> Sobre
                </button>
            </div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
