<ion-view view-title="Sobre o Projeto">
    <ion-content>
        <div class="list sobre padding-horizontal">

            <div class="item item-text-wrap">
                <h2 class="assertive"><strong>Conheça o projeto Pensando o Direito</strong></h2>
                <p>E participe do processo de elaboração de leis no Brasil</p>
            </div>

            <div class="divider item item-text-wrap">
                <h2 class="assertive">
                    <strong>O que é?</strong>
                </h2>
                <p class="padding-top">
                    O Projeto Pensando o Direito é uma iniciativa da Secretaria de Assuntos Legislativos do Ministério
                    da Justiça (SAL/MJ), e foi criado em 2007 para promover a democratização do processo de elaboração
                    legislativa no Brasil.
                </p>
            </div>

            <div class="item item-image padding-40">
                <img src="img/sobre.png">
            </div>

            <div class="item item-text-wrap">
                <h2 class="assertive"><strong>Pesquisas</strong></h2>
                <p class="padding-top">
                    A partir do lançamento de editais para a contratação de equipes de pesquisa, o Projeto mobiliza
                    setores importantes da sociedade – Academia, instituições de pesquisa, ONG’s entre outros – para a
                    realização de estudos em temas de interesse da Secretaria.
                </p>
                <p class="padding-top">
                    Para atingir o propósito de conferir com maior efetividade às normas perante a realidade social, são
                    privilegiadas pesquisas aplicadas, de caráter empírico, com o emprego de estratégias qualitativas e
                    quantitativas que informem e fortaleçam o debate no processo de produção de leis e demais atos
                    normativos.
                </p>
                <p class="padding-top">
                    Além de qualificar a atuação da SAL/MJ, órgão que tem por objetivo institucional a preservação da
                    ordem jurídica, essa iniciativa busca fortalecer as instituições democráticas voltadas à construção
                    de um ordenamento normativo mais próximo da realidade da população brasileira.
                </p>
                <p class="padding-top">
                    A aproximação entre Academia e Parlamento permite que a discussão política seja associada a
                    argumentos, dados e informações embasados em pesquisas com comprovação empírica, propiciando a
                    construção de normas mais democráticas e efetivas.
                </p>

                <button class="margin-top-10 button button-small button-light icon-right ion-android-open" ng-click="visit()">
                    Visite pensando.mj.gov.br
                </button>

            </div>

        </div>
    </ion-content>
</ion-view>
