<ion-view view-title="Volume {{publicacao.publicacao_volume}}" class="publicacao">
    <ion-content class="padding">
        <div class="publicacao-item">
            <div class="volume">Volume {{publicacao.publicacao_volume}}</div>
            <div class="title">{{publicacao.title}}</div>
            <div class="subtitle" ng-show="publicacao.subtitle">{{publicacao.subtitle}}</div>
            <div class="date">Data: {{publicacao.publicacao_data}}</div>
            <div class="coordenacao" ng-show="publicacao.publicacao_coordenacao">Coordenação:
                {{publicacao.publicacao_coordenacao}}
            </div>
        </div>
        <div class="button-bar">
            <button class="button button-small" ng-click="download()" ng-disabled="progress>0">Download</button>
            <button class="button button-small" ng-click="FileOpener2()">Abrir</button>
            <button class="button button-small" ng-click="view()">Visualizar</button>
        </div>
        <div class="publicacao-description">
            {{publicacao.description}}
        </div>
    </ion-content>
</ion-view>
