<ion-view class="publicacao">
    <ion-nav-title>Volume {{publicacao.volume}}</ion-nav-title>
    <ion-content>

        <div class="list card publicacao-item">

            <div class="item item-body">
                <p class="volume">Volume {{publicacao.volume}}</p>

                <h2 class="title">{{publicacao.title}}</h2>

                <h3 class="subtitle" ng-show="publicacao.subtitle">{{publicacao.subtitle}}</h3>

                <p class="date">Data: {{publicacao.date}}</p>

                <p class="coordenacao" ng-show="publicacao.coordenacao">
                    Coordenação: {{publicacao.coordenacao}}
                </p>

                <p ng-bind-html="publicacao.content"></p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="open()">
                    <i class="icon ion-document-text"></i>
                    Abrir
                </a>
                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i>
                    Compartilhar
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
